parameters:
	WPCompat:
		requiresAtLeast: null

services:
	-
		class: WPCompat\PHPStan\Rules\SinceVersionRule
		arguments:
			requiresAtLeast: %WPCompat.requiresAtLeast%
		tags:
			- phpstan.rules.rule

parametersSchema:
	WPCompat: structure([
		requiresAtLeast: string(),
	])
