parameters:
	WPCompat:
		pluginFile: null
		requiresAtLeast: null

services:
	-
		class: WPCompat\PHPStan\Rules\SinceVersionRule
		arguments:
			pluginFile: %WPCompat.pluginFile%
			requiresAtLeast: %WPCompat.requiresAtLeast%
		tags:
			- phpstan.rules.rule

parametersSchema:
	WPCompat: structure([
		pluginFile: schema(string(), nullable()),
		requiresAtLeast: schema(string(), nullable()),
	])
