includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- extension.neon
parameters:
	level: 8
	paths:
		- generate.php
		- src/
		# - tests/
	excludePaths:
		analyse:
			- tests/*/data/*
	tmpDir: ./tests/cache
	WPCompat:
		requiresAtLeast: '0.71'
